@import 'tailwindcss';

@theme {
	/* Fuentes */
	--font-display: 'Lexend Variable', sans-serif;
	--font-sans: 'Lexend Variable', sans-serif;

	/* Colores personalizados */
	--color-primary: var(--color-teal-700);
	--color-secondary: var(--color-orange-400);
	--color-background-light: #f6f7f8;
	--color-background-dark: #101922;
	--color-card-light: #ffffff;
	--color-card-dark: #1a2632;
	--color-text-light-primary: #0d141b;
	--color-text-dark-primary: #f0f4f8;
	--color-text-light-secondary: #4c739a;
	--color-text-dark-secondary: #a1b1c3;
	--color-border-light: #e7edf3;
	--color-border-dark: #334155;

	/* Border Radius */
	--radius: 0.25rem;
	--radius-lg: 0.5rem;
	--radius-xl: 0.75rem;
	--radius-full: 9999px;
}

.material-symbols-outlined {
	font-family: 'Material Symbols Outlined Variable';
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
