---
import RegisterForm from '../components/RegisterForm.vue'
import Layout from '../layouts/Layout.astro'
---

<Layout
	title="Registro - 8vo Desafío Manchachis"
	description="Registro para el 8vo Desafío Manchachis"
>
	<section class="relative">
		<div
			class="absolute inset-0 bg-cover bg-center"
			style='background-image: linear-gradient(rgba(16, 25, 34, 0.6) 0%, rgba(16, 25, 34, 0.8) 100%), url("/images/image-register-2.webp")'
		>
		</div>
		<div
			class="relative mx-auto max-w-4xl px-4 py-24 text-center text-white sm:py-32"
		>
			<h1
				class="text-4xl font-black leading-tight tracking-tighter sm:text-6xl"
			>
				Inscríbete en la Aventura
			</h1>
			<p class="mt-4 text-lg font-normal text-slate-200 sm:text-xl">
				06 de Diciembre, 2025 - 8vo Desafío Nocturno Manchachis
			</p>
		</div>
	</section>

	<section class="mt-10">
		<div class="container mx-auto max-w-4xl px-4 pb-16">
			<RegisterForm client:load />
		</div>
	</section>
</Layout>
