---

---

<footer
	class="bg-card-light dark:bg-card-dark border-t border-border-light dark:border-border-dark mt-auto"
>
	<div class="container mx-auto px-4 py-8">
		<div
			class="flex flex-col md:flex-row justify-between items-center text-center md:text-left gap-6"
		>
			<div class="flex items-center gap-1">
				<p
					class="text-sm text-text-light-secondary dark:text-text-dark-secondary"
				>
					Desarrollado y diseñado por
				</p>
				<a
					class="text-text-light-secondary dark:text-text-dark-secondary font-bold hover:text-primary transition-colors"
					href="https://wa.link/poaniu"
					target="_blank"
				>
					Friktek</a
				>
			</div>
			<div class="flex items-center gap-4">
				<a
					class="text-text-light-secondary dark:text-text-dark-secondary hover:text-primary transition-colors"
					href="https://www.facebook.com/profile.php?id=100063838651143"
					target="_blank">Facebook</a
				>
				<a
					class="text-text-light-secondary dark:text-text-dark-secondary hover:text-primary transition-colors"
					href="https://wa.link/incyjd"
					target="_blank">Contacto</a
				>
			</div>
		</div>
	</div>
</footer>
