---
import '../styles/global.css'
import '@fontsource-variable/lexend'
import '@fontsource-variable/material-symbols-outlined'

import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'

interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en" class="light">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body
		class="relative flex min-h-screen w-full flex-col bg-background-light dark:bg-background-dark text-text-light-primary dark:text-text-dark-primary"
	>
		<Header />
		<main class="flex-1">
			<slot />
		</main>
		<Footer />
	</body>
</html>
